*.gem
*.rbc
*.tar.gz
*~
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Mac OS X artifacts
Eclipse.app
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
